ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: #92c393;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(61, 89, 70);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #eaf370;
}
ul li a.active {
background-color: bisque;
}
img {
   width: 100%;
   height: 300px;
  opacity: 0.8;
}
body{ 
  background-image: url(https://i.pinimg.com/1200x/10/26/35/102635877dd7462b1fb742e16ad78280.jpg);
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  background-color: CCE8BC;
  border-radius: 10px;
  width: calc(25% - 20px);
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  font:"stampatello faceto" ;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}
legend {
  background-color: EDCCD2;
}
fieldset {
  background-color: FAE1E5;
}